h1{
    font-size: 80px;
}

.card{
    background-color: blanchedalmond;
    padding: 30px;
    width: 800px;
    height: 200px;
    display: flex;
    border: 2px solid grey;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.card img{
    height: 128px;
    border-radius: 50%;
}