*{
    margin: 0;
    padding: 0;
}

html{
    background-color: blanchedalmond;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image:url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
}

a{
    text-decoration: none;
}

.title{
    background-image:url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
    word-spacing:-5px;
	font-size: 55px;
	color:rgb(231, 224, 167);
}

.title:hover{
    color: rgb(241, 243, 207);
}

ul{
    background-image:url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
    display: flex;
}

.nav-link{
    margin: 10px;
    background: local;
    font-size: 27px;
    list-style: none;
    text-decoration: none;
    color: rgb(231, 224, 167);
    border-radius: .8rem;
}

.nav-link:hover{
    background-color: blanchedalmond;
    color: black;
}

table{
    margin: auto;
}

tr{
    padding: 20px;
    background-image: url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
    max-width: 30%;
    margin: 30px;
    display: inline-block;
    border-radius: .8rem;
    position: relative;
    align-items: center;
    align-content: center;
    height: 400px;
}

td{
    display: flex;
    position: relative;
    font-size: 20px;
    margin-bottom: 15px;
    justify-content: center;
    align-content: center;
}



img{
    position: relative;
    border-radius: .8rem;
    max-width: 100%;
    width: 300px;
    position: relative;
}



.post-title, .price, .description{
    color: rgb(231, 224, 167);
    font-size: 30px;
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price{
    position:absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
}