*{
    background-color: rgb(94, 118, 255);
    margin: auto;
}

tr{
    padding: 20px;
    margin: 30px;
    display: inline-block;
    border-radius: .8rem;
}

h1{
    font-size:50px;
    margin-bottom: 30px;
}

td{
    display: block;
    margin-bottom: 15px;
    text-align: center;
    
}

img{
    width: 300px;
}