*{
    margin: 0;
    padding: 0;
}

html{
    background-color: blanchedalmond;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image:url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
}

a{
    text-decoration: none;
}

.title{
    background-image:url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
    word-spacing:-5px;
	font-size: 55px;
	color:rgb(231, 224, 167);
}

.title:hover{
    color: rgb(241, 243, 207);
}



ul{
    background-image:url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
    display: flex;
}

.nav-link{
    margin: 10px;
    background: local;
    font-size: 27px;
    list-style: none;
    text-decoration: none;
    color: rgb(231, 224, 167);
    border-radius: .8rem;
}

.nav-link:hover{
    background-color: blanchedalmond;
    color: black;
}

h1{
    background-image:url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
    word-spacing:-5px;
	font-size: 55px;
	color:rgb(231, 224, 167);
}

.headers{
    display: flex;
    justify-content: space-between;
}

h2, .favorites{
    margin-top: 30px;
    background:
    url('/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp')  
    no-repeat center center;
    background-size:100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

h3{
    text-align: center;
    font-size: 30px;
}

.favorites{
    text-decoration: underline;
    text-decoration-color: green;
}
.favorites:hover{
    text-decoration: none;
}

table{
    margin: auto;
}

tr{
    padding: 20px;
    background-image: url("/img/new-dark-teal-with-dark-teal-canvas-fabric-texture-free-high-resolution-photo.webp");
    max-width: 90%;
    margin: 30px;
    display:block;
    border-radius: .8rem;
    position: relative;
    height: fit-content;
}

td{
    display: flex;
    font-size: 20px;
    margin-bottom: 15px;
    justify-content: center;
}

.post-title, .price{
    color: rgb(231, 224, 167);
    font-size: 30px;
}

img{
    border-radius: .8rem;
    width: 500px;
    margin: 20px;
}


.edit-delete{
    position:relative;
    margin-left: 50px;
}

button, .edit-delete, .description{
    background: none;
    color: rgb(231, 224, 167);
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin: 15px;
    border-radius: .8rem;
    padding: 3px 6px;
}

button, .edit-delete:hover{
    background-color: blanchedalmond;
    color: black;
}

.price-value{
    margin: 15px;
}

.like{
    margin-left: 50px;
    width: 50px;
}